options SYNgate psk_list={{ syngate.params.psk_list }} dstnet_list={{ syngate.params.dstnet_list }} precision_list={{ syngate.params.precision_list }} enable_antispoof_list={{ syngate.params.enable_antispoof_list }} enable_udp_list={{ syngate.params.enable_udp_list }}